.issue-nav
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background-color: #E91E63
  box-shadow: #CFD8DC 0px 5px 15px
  padding: 20px 50px
  @media screen and (min-width: 576px)
    justify-content: row
  &__title
    font-size: 20px
    color: #FFF
    font-weight: 600
    @media screen and (min-width: 576px)
      font-size: 24px
