@font-face
  font-family: "Montserrat"
  src: url("../fonts/montserrat-regular.woff")
@font-face
  font-family: "Montserrat"
  src: url("../fonts/montserrat-bold.woff")
  font-weight: bold
@font-face
  font-family: "Montserrat"
  src: url("../fonts/montserrat-light.woff")
  font-weight: lighter

// to be honest, I was going to add colour variables
// but I couldn't come up with names and then decided that
// there weren't enough pages for me to use variables ;)