.search-page
  height: 100%
  background-color: #E91E63
  display: flex
  justify-content: center
  align-items: center
  &__content
    display: flex
    position: relative
    flex-direction: column
    width: 70%
    align-items: center
    @media screen and (min-width: 576px)
      width: 50%
  h1
    color: #FFF
    text-align: center
    font-size: 22px
    margin-top: 0
    @media screen and (min-width: 768px)
      font-size: 48px

