.loading
  position: absolute
  bottom: -50px
  margin: 20px auto
  &__bar
    display: inline-block
    width: 7px
    height: 21px
    border-radius: 4px
    margin: 0 2px
    animation: loading 1s ease-in-out infinite
  &__bar:nth-child(1)
    background-color: #FFF
    animation-delay: 0
  &__bar:nth-child(2)
    background-color: #FFF
    animation-delay: 0.09s
  &__bar:nth-child(3)
    background-color: #FFF
    animation-delay: .18s

  &__bar:nth-child(4)
    background-color: #FFF
    animation-delay: .27s


@keyframes loading
  0%
    transform: scale(1)
  20%
    transform: scale(1, 2.2)
  40%
    transform: scale(1)